@using MvcCv.Models
@model List<TblYeteneklerim>
    
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{ string renk = "";}


<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Yetenek Listem</h3>     
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <a href="/Yetenek/YeniYetenek/" class="btn btn-info">Yeni Yetenek Ekle</a>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Yetenek</th>
                                            <th>Derece</th>
                                            <th style="width: 40px">Oran</th>
                                            <th>İşlemler</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Orani >= 0 && item.Orani <= 50)
                                            {
                                                renk = "progress-bar bg-danger";
                                            }
                                            if (item.Orani >= 51 && item.Orani <= 70)
                                            {
                                                renk = "progress-bar bg-warning";
                                            }
                                            if (item.Orani >= 71 && item.Orani <= 84)
                                            {
                                                renk = "progress-bar bg-primary";
                                            }
                                            if (item.Orani >= 85 && item.Orani <= 100)
                                            {
                                                renk = "progress-bar bg-success";
                                            }
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Yetenek</td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="@renk" style="width: @item.Orani%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="@renk">@item.Orani%</span></td>
                                                <td>
                                                    <a class="btn btn-info btn-sm" href="/Yetenek/YetenekDuzenle/@item.ID">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Güncelle
                                                    </a>
                                                    <a class="btn btn-danger btn-sm" href="/Yetenek/YetenekSil/@item.ID">
                                                        <i class="fas fa-trash"></i>
                                                        Sil
                                                    </a>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</body>
</html>

